@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --text-color: red;
  --text-size: 5rem;
}

body {
  font-family: 'Lato', sans-serif;
}

/* titulo header icelack */
.titulo_icelackApp {
    @apply bg-black uppercase font-bold text-lg text-white p-5 text-center italic;
}

/* // Titulos generales  */
h1 {
  @apply uppercase font-bold text-center text-lg py-2
}