@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fff;
  --secondary-slate-900: #000;
  --text-color: red;
  --text-size: 5rem;
}

body {
  font-family: 'Lato', sans-serif;
}

/* --------------------- CSS GENERAL CON TAILWIND ---------------------- */


/* // Titulos generales  */
h1 {
  @apply uppercase font-bold text-center text-lg py-2
}
h2 {
  @apply uppercase font-black text-lg py-2
}

/* Div general card */

.cardGeneral {
   @apply marginGeneral bg-slate-200 rounded-xl shadow-lg flex
}


/* Botones  */
.botonGeneral {
  @apply bg-slate-800 hover:bg-slate-900 active:bg-slate-900 focus:bg-slate-900 focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg uppercase p-3 px-5 py-3 text-white rounded-lg text-sm transition duration-150 ease-in-out; 
}

/* Boton 2  */

/* Padding y Margin generales  */
.paddingGeneral {
  @apply p-2;

}
.marginGeneral{
  @apply m-10;
}

.bg-colorletra-general1 {
  
}

.bg-image-fondo-cardDescuentos {
  background-image: url(../src/img/banner1.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  object-fit: cover;
} 

/* .bg-image-fondo-login {
  background-image: url(../src/img/logoIcelack.jpg);
  background-repeat: no-repeat;
  max-width: 100%;
  object-fit: cover;

} */


